html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: url(/assets/this_is_art.jpg) #000000;
	background-attachment: fixed;
	color: #999999;
	font-family: Helvetica Narrow, sans-serif;
}

a {
	text-decoration: none;
	/*color: #ff6e00;*/
	color: #ffffff;
}

h1, h2 {
	color: #ffffff;
}

.background-curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9999;
	background-color: black;
	opacity: 0.8;
}

.logo {
	background: url(/assets/NT-logo.svg);
	position: fixed;
	top: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
}

.banner {
	background: url(/assets/banner.png);
	margin: 0 auto 40px auto;
	height: 110px;
}

.navigation-wrapper {
	position: fixed;
	font-weight: bold;
	font-size: medium;
	padding: 0;
	text-align: right;
	z-index: 1000;
}

.navigation-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-wrapper li {
	padding: 10px;
}

.navigation-wrapper a {
	color: #ffffff;
}

.navigation-wrapper a:hover,
.navigation-wrapper .active {
	color: #ff6e00;
}

.navigation {
	/*background-color: #000000;*/
	/*background-color: rgba(255, 108, 0, 0.5);*/
}

.content-wrapper {
	position: relative;
	margin: 0 auto 0 auto;
	/*background-color: #000000;*/
	/*background-color: rgba(0, 0, 0, 0.3);*/
}

.showcase-frame {
	background-color: #000000;
	position: fixed;
	top: 0;
	border: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.showcase-cover {
	background-color: #000000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.showcase-cover .NT {
	background: url(/assets/NT-logo.svg) no-repeat center center;
	background-size: 100%;
	width: 50%;
	height: 100%;
	margin: auto;
}

.nt-presents .navigation-wrapper {
	opacity: 0;
}

.posts .previous,
.posts .previous-active {
	position: absolute;
	left: 0;
	width: 50px;
	height: 50px;
	background: url(/assets/arrows.png);
	opacity: 0.1;
}

.posts .previous-active {
	opacity: 0.5;
}

.posts .next,
.posts .next-active {
	position: absolute;
	right: 0;
	background: url(/assets/arrows.png) -100px 0;
	width: 50px;
	height: 50px;
	opacity: 0.1;
}

.posts .next-active {
	opacity: 0.5;
}

.pagination p {
	text-align: center;
	width: 100%;
}

/*.posts .previous:hover {
	background: url(/assets/arrows.png) -50px 0;
}

.posts .next:hover {
	background: url(/assets/arrows.png) -150px 0;
}
*/
@media screen and (min-width: 1100px) {
	.banner {
		width: 800px;
	}

	.content-wrapper img {
		max-width: 800px;
	}
	
	.navigation-wrapper {
		top: 100px;
		left: 0;
	}

	.content-wrapper {
		width: 800px;
	}
}

@media screen and (min-width: 880px) and (max-width: 1099px) {
	.banner {
		background-position: 0 -112px;
		width: 600px;
	}

	.content-wrapper img {
		max-width: 600px;
	}

	.navigation-wrapper {
		top: 100px;
		left: 0;
	}

	.content-wrapper {
		width: 600px;
	}
}

/*@media screen and (min-width: 500px) and (max-width: 879px) {*/
@media screen and (max-width: 879px) {
	.banner {
		background-position: 0 -224px;
		width: 320px;
		margin-top: 45px;
	}

	.content-wrapper img {
		max-width: 320px;
	}

	.navigation-wrapper {
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		line-height: 30px;
		margin: 0 auto 0 auto;
	}

	.navigation {
		width: 320px;
		height: 100%;
		margin: 0 auto 0 auto;
	}

	.navigation-wrapper li {
		float: left;
		margin: 0 0 0 10px;
		padding: 0;
	}

	.content-wrapper {
		width: 320px;
	}

	.showcase-frame {
		position: static;
		width: 320px;
		height: 300px;
	}

	.logo {
		display: none;
	}
}
/*
@media screen and (max-width: 499px) {
	.banner {
		background-position: 0 -224px;
		width: 400px;
		margin-top: 45px;
	}

	.navigation-wrapper {
		top: 0;
		left: 0;
		right: 0;
		height: 30px;
		line-height: 30px;
		margin: 0 auto 0 auto;
	}

	.navigation {
		width: 400px;
		height: 100%;
		margin: 0 auto 0 auto;
	}

	.navigation-wrapper li {
		float: left;
		margin: 0 0 0 10px;
		padding: 0;
	}

	.content-wrapper {
		width: 400px;
	}

	.showcase-frame {
		position: static;
		width: 400px;
		height: 300px;
	}

	.showcase-cover {
		display: none;
	}

	.logo {
		display: none;
	}
}
*/
