html,
body {
	height: 100%;
	margin: 0;
}

body {
	background-color: #000000;
	color: #999999;
	font-family: Helvetica Narrow, sans-serif;
	min-height: 505px;
}

a {
	text-decoration: none;
	/*color: #ff6e00;*/
	color: #ffffff;
}

h1, h2 {
	color: #ffffff;
	font-weight: normal;
}

p {
	margin: 2em 0 2em 0;
}

.top-spacer {
	height: 10px;
}

.bottom-spacer {
	width: 100%;
	height: 200px;
	float: left;
}

.footer {
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
	float: left;
	font-size: smaller;
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.7);
	margin:  10px 0 40px 0;
}

.background-curtain {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -9999;
	background-color: black;
	opacity: 0.9;
}

.bottom-bar {
	background-color: #000000;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px;
}

.copyright {
	float: right;
	line-height: 50px;
	margin: 0 5px 0 0;
	font-size: 10px;
}

.logo {
	float: left;
	background: url(/assets/NT-logo-3.png);
	background: url(/assets/NT-logo-3.svg), none;
	width: 50px;
	height: 50px;
	margin: 0 20px 0 5px;
}

.logo-spacer {
	float: left;
	background: url(/assets/logo-spacer.png);
	width: 10px;
	height: 50px;
}

.navigation-wrapper {
	float: left;
	font-size: small;
	margin: 0;
}

.navigation-wrapper ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navigation-wrapper li {
	float: left;
	padding: 0 20px 0 0;
	line-height: 50px;
}

.navigation-wrapper a {
	color: #ffffff;
}

a:hover,
.navigation-wrapper .active {
	color: #ff6e00;
}

.content-wrapper {
	position: relative;
	float: left;
}

.content {
	float: left;
}

.content img {
	max-width: 100%;
}

.showcase-frame {
	background-color: #000000;
	position: fixed;
	top: 0;
	border: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
}

.showcase-cover {
	background-color: #000000;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.showcase-cover .NT {
	background: url(/assets/NT-logo.svg) no-repeat center center;
	background-size: 100%;
	width: 50%;
	height: 100%;
	margin: auto;
}

.nt-presents .bottom-bar {
	opacity: 0;
}

.posts .previous,
.posts .previous-active {
	position: absolute;
	left: 0;
	width: 50px;
	height: 50px;
	background: url(/assets/arrows.png);
	opacity: 0.1;
}

.posts .previous-active {
	opacity: 0.5;
}

.posts .next,
.posts .next-active {
	position: absolute;
	right: 0;
	background: url(/assets/arrows.png) -100px 0;
	width: 50px;
	height: 50px;
	opacity: 0.1;
}

.posts .next-active {
	opacity: 0.5;
}

.post {
	margin-bottom: 10em;
}

.pagination p {
	text-align: center;
	width: 100%;
}

.breadcrumb {
	font-size: smaller;
	font-style: italic;
}

.breadcrumb p {
	margin: 0;
}

.top-bar {
	position: absolute;
	top: 5px;
	left: 5px;
	right: 5px;
}

.top-bar .left {
	position: absolute;
	left: 0;
	top: 0;
	right: 90px;
}

.top-bar .controls {
	height: 40px;
	width: 80px;
	float: right;
}

.top-bar .controls div {
	width: 20px;
	height: 40px;
}

.top-bar .controls .previous {
	background: url(/assets/arrows.png);
	float: left;
}

.top-bar .controls .next {
	background: url(/assets/arrows.png) -20px 0;
	float: right;
}

.me .navigation a.me,
.work .navigation a.work,
.news .navigation a.news,
.archive .navigation a.archive {
	color: #ff6e00;
}

/*-------------------------------------------
		galleries
-------------------------------------------*/
.gallery-thumb {
	float: left;
	width: 20%;
}

.gallery-thumb img {
	width: 100%;
}


.presentation .page-title {
	margin: 0 0 5px 0;
}

.presentation h4 {
	margin: 0;
}

.presentation .presentation-wrapper {
	position: absolute;
	top: 55px;
	right: 0;
	bottom: 60px;
	left: 0;
}

.presentation-content {
	height: 100%;
}

.presentation-frame {
	position: absolute;
	width: 100%;
	height: 100%;
}
/*----------------------------------------------
	Responsive design
----------------------------------------------*/

@media screen and (min-width: 1100px) {
}

@media screen and (min-width: 780px) and (max-width: 1099px) {
}

@media screen and (min-width: 480px) and (max-width: 779px) {
}

@media screen and (max-width: 479px) {
}

 