<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">		

		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>{{ site.name }} - {{ page.title }}</title>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="icon" type="image/png" href="/assets/favicon.png">
		<link rel="apple-touch-icon" href="/assets/iphone-logo.png">
      	<script type="text/javascript" src="/js/dojo.js" data-dojo-config="async: true"></script>
		<script>
		window.addEventListener("load",function() {
			setTimeout(function(){
				window.scrollTo(0, 0);
			}, 0);
		});
		</script>
		{% include google-analytics %}
	</head>
	<body class="presentation {{ page.class }}">

		<div class="top-bar">
			<div class="left">
				<div class="page-title"><h1>{{ page.title }}</h1></div>
				{% include breadcrumb %}
			</div>
		</div>

		<div class="presentation-wrapper">			
			{{ content }}
			<div class="controls">
				{%  if page.next %}
					<a href="{{page.next}}"><div class="next"></div></a>
				{% endif %}
				{%  if page.previous %}
					<a href="{{page.previous}}"><div class="previous"></div></a>
				{% endif %}
			</div>
		</div>

		{% include bottom-bar %}

	</body>
</html>
